@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.link {
  text-decoration: none !important;
  color: rgba(255, 255, 255, .75) !important;
}

.link:hover {
  color: rgb(255, 255, 255, 0.5) !important;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.italiana {
  font-family: 'Italiana', serif;
}

.brand {
  text-decoration: none !important;
  color: #fff !important;
}

.noDeco {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: rgb(33, 37, 41);
}