@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.link {
  text-decoration: none !important;
  color: rgb(255, 255, 255, 0.55) !important;
}

.link:hover {
  color: rgb(255, 255, 255, 0.75) !important;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.brand {
  text-decoration: none !important;
  color: #fff !important;
}

.noDeco {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: rgb(33,37,41);
}

